In [3]:
import pandas as pd
from pathlib import Path

# Load the cleaned Excel file
FILE = Path("Book1_cleaned.xlsx")

# Check if file exists
if FILE.exists():
    print("File found! Loading data...")
    
    # Get all sheet names
    excel_file = pd.ExcelFile(FILE)
    print("Sheet names in the file:", excel_file.sheet_names)
    
    # Load the main sales data from 'Week-2-Sales-Data' sheet
    df = pd.read_excel(FILE, sheet_name='Sheet1')
    
    # Quick peek
    print("\nLoaded rows:", len(df))
    print("Dataset shape:", df.shape)
    print("\nFirst 5 rows:")
    display(df.head())
    
else:
    print("File not found! Please check the file path.")
    print("Current working directory:", Path.cwd())

# Data cleaning steps (to ensure data is properly formatted)
print("\n=== DATA CLEANING ===")

# Convert Order_Date to datetime if needed
if df['Order_Date'].dtype == 'object':
    df['Order_Date'] = pd.to_datetime(df['Order_Date'])
    print(f"Order_Date converted to: {df['Order_Date'].dtype}")

# Check for missing values
print("\nMissing values:")
print(df.isnull().sum())

File found! Loading data...
Sheet names in the file: ['Sheet1']

Loaded rows: 100
Dataset shape: (100, 9)

First 5 rows:

,Order_ID,Product,Region,Units_Sold,Unit_Price,Revenue,Sales_Rep,Order_Date,YearMonth
0,ORD001,Printer,Limpopo,45,2985,134325,Rep-2,2024-03-28,2024-03
1,ORD002,Headphones,Western Cape,16,15076,241216,Rep-18,2024-04-11,2024-04
2,ORD003,Laptop,Western Cape,45,14860,668700,Rep-16,2024-05-18,2024-05
3,ORD004,External Hard Drive,Kwazulu-Natal,21,16237,340977,Rep-3,2024-05-16,2024-05
4,ORD005,Smartphone,Western Cape,41,9420,386220,Rep-17,2024-02-21,2024-02

=== DATA CLEANING ===

Missing values:
Order_ID      0
Product       0
Region        0
Units_Sold    0
Unit_Price    0
Revenue       0
Sales_Rep     0
Order_Date    0
YearMonth     0
dtype: int64

In [4]:

# Check for duplicates
print(f"\nDuplicate rows: {df.duplicated().sum()}")
print(f"Duplicate Order IDs: {df['Order_ID'].duplicated().sum()}")

Duplicate rows: 0
Duplicate Order IDs: 0

In [5]:

# CALCULATE KPIs
print("\n" + "="*50)
print("KEY PERFORMANCE INDICATORS (KPIs)")
print("="*50)

# a) Total revenue for the entire dataset
total_revenue = df['Revenue'].sum()
print(f"\na) Total Revenue: R{total_revenue:,.2f}")

# b) Average units sold per order
avg_units_sold = df['Units_Sold'].mean()
print(f"b) Average Units Sold per Order: {avg_units_sold:.2f}")

# c) Total revenue per region
revenue_by_region = df.groupby('Region')['Revenue'].sum().sort_values(ascending=False)
print("\nc) Total Revenue per Region:")
for region, revenue in revenue_by_region.items():
    print(f"   {region}: R{revenue:,.2f}")

# d) Highest revenue-generating sales representative
revenue_by_rep = df.groupby('Sales_Rep')['Revenue'].sum()
top_sales_rep = revenue_by_rep.idxmax()
top_sales_rep_revenue = revenue_by_rep.max()
print(f"\nd) Highest Revenue-Generating Sales Representative: {top_sales_rep}")
print(f"   Revenue Generated: R{top_sales_rep_revenue:,.2f}")

# Show top 5 sales reps for context
print("\n   Top 5 Sales Representatives:")
top_5_reps = revenue_by_rep.sort_values(ascending=False).head(5)
for i, (rep, revenue) in enumerate(top_5_reps.items(), 1):
    print(f"   {i}. {rep}: R{revenue:,.2f}")

# e) Top 3 products by total units sold
units_by_product = df.groupby('Product')['Units_Sold'].sum().sort_values(ascending=False)
top_3_products = units_by_product.head(3)
print(f"\ne) Top 3 Products by Total Units Sold:")
for i, (product, units) in enumerate(top_3_products.items(), 1):
    print(f"   {i}. {product}: {units:,} units")

# Show all products for context
print("\n   All Products by Units Sold:")
for product, units in units_by_product.items():
    print(f"   - {product}: {units:,} units")

# BONUS: Additional useful KPIs
print("\n" + "="*50)
print("ADDITIONAL KPIs (Bonus)")
print("="*50)

# Total units sold
total_units = df['Units_Sold'].sum()
print(f"Total Units Sold: {total_units:,}")

# Average revenue per order
avg_revenue_per_order = df['Revenue'].mean()
print(f"Average Revenue per Order: R{avg_revenue_per_order:,.2f}")

# Number of unique products
unique_products = df['Product'].nunique()
print(f"Number of Unique Products: {unique_products}")

# Number of unique regions
unique_regions = df['Region'].nunique()
print(f"Number of Regions: {unique_regions}")

# Number of sales representatives
unique_reps = df['Sales_Rep'].nunique()
print(f"Number of Sales Representatives: {unique_reps}")

# Monthly revenue analysis (if you want to explore time-based analysis)
print(f"\nDate Range: {df['Order_Date'].min().strftime('%Y-%m-%d')} to {df['Order_Date'].max().strftime('%Y-%m-%d')}")

# Create a summary DataFrame of the KPIs
kpi_summary = pd.DataFrame({
    'KPI': [
        'Total Revenue',
        'Average Units per Order', 
        'Total Units Sold',
        'Average Revenue per Order',
        'Number of Orders',
        'Number of Products',
        'Number of Regions',
        'Number of Sales Reps',
        'Top Sales Rep',
        'Top Product by Units'
    ],
    'Value': [
        f"R{total_revenue:,.2f}",
        f"{avg_units_sold:.2f}",
        f"{total_units:,}",
        f"R{avg_revenue_per_order:,.2f}",
        f"{len(df):,}",
        f"{unique_products}",
        f"{unique_regions}",
        f"{unique_reps}",
        f"{top_sales_rep}",
        f"{units_by_product.index[0]}"
    ]
})

print("\n" + "="*50)
print("KPI SUMMARY TABLE")
print("="*50)
display(kpi_summary)

==================================================
KEY PERFORMANCE INDICATORS (KPIs)
==================================================

a) Total Revenue: R35,295,338.00
b) Average Units Sold per Order: 28.23

c) Total Revenue per Region:
   Western Cape: R9,346,198.00
   Gauteng: R6,231,531.00
   North West: R6,201,288.00
   Limpopo: R3,614,655.00
   Kwazulu-Natal: R3,560,630.00
   Free State: R3,359,398.00
   Eastern Cape: R2,981,638.00

d) Highest Revenue-Generating Sales Representative: Rep-19
   Revenue Generated: R2,889,294.00

   Top 5 Sales Representatives:
   1. Rep-19: R2,889,294.00
   2. Rep-14: R2,859,882.00
   3. Rep-1: R2,856,551.00
   4. Rep-3: R2,686,043.00
   5. Rep-13: R2,460,993.00

e) Top 3 Products by Total Units Sold:
   1. Smartwatch: 542 units
   2. Tablet: 511 units
   3. Smartphone: 437 units

   All Products by Units Sold:
   - Smartwatch: 542 units
   - Tablet: 511 units
   - Smartphone: 437 units
   - Printer: 427 units
   - Laptop: 332 units
   - Headphones: 316 units
   - External Hard Drive: 258 units

==================================================
ADDITIONAL KPIs (Bonus)
==================================================
Total Units Sold: 2,823
Average Revenue per Order: R352,953.38
Number of Unique Products: 7
Number of Regions: 7
Number of Sales Representatives: 20

Date Range: 2024-01-01 to 2024-06-29

==================================================
KPI SUMMARY TABLE
==================================================

                         KPI           Value
0              Total Revenue  R35,295,338.00
1    Average Units per Order           28.23
2           Total Units Sold           2,823
3  Average Revenue per Order     R352,953.38
4           Number of Orders             100
5         Number of Products               7
6          Number of Regions               7
7       Number of Sales Reps              20
8              Top Sales Rep          Rep-19
9       Top Product by Units      Smartwatch